body {
	margin: 0;
	padding: 2em 3em;
}

a, a:visited {
	color: #36C;
}

a:hover {
	background-color: #36C;
	color: #FFF;
}

a img {
	border: none;
}

section#updates, section#disclaimer {
	margin: 3em 0;
	border: 1px solid #36C;
	background-color: #EEF;
	padding: 0 1em;
	font-size: 80%;
}

h1, h2, h3 {
	font-weight: normal;
}

article {
	margin: 3em 0;
}

.original {
	font-size: 80%;
	margin: .5em 0;
}
